  // 首先安装node.js
        //     https://nodejs.org/en/ 选择LTS长期支持版本，windows下选择.msi安装版
        //     node -v
        // 接着安装cnpm
        //     npm install -g cnpm --registry=https://registry.npm.taobao.org
        //     cnpm -v
        // 然后安装less
        //     npm install less -g
        //     lessc -v
                

        //编译.less文件（将10Less.less 编译为10Less.css）
        //        lessc 10Less.less 10Less.css

        //压缩如下（要部署了就用压缩文件 将10Less.less 编译为10Less.min.css   文件名可以不带.min）
        //lessc -x 10Less.less 10Less.min.css

        //注意.less文件，要使用lessc编译之后，生成的.css文件才会生效，保存并不会生效

        
        //这是个变量
        @fc:orange;

        .tit{
            color:@fc;
        }

        .box{
            background-color: @fc;
            
        }
    
