// <!DOCTYPE html>
// <html lang="en">
// <head>
//     <meta charset="UTF-8">
//     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//     <title>Document</title>
//     <script>
//         // 依次打开--管理（左下角机械）--设置--打开设置(json)（右下角）--

//     </script>
// </head>
// <body>
    
// </body>
// </html>

@c:blue;


 


.box1{
    width: 300px;
    height: 200px;
    border: 2px solid @c;
    margin:auto;
}


///////////////////////////////////


